# to print the add twoi numbers user input

In [1]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a+b
print(c)

enter a value20
enter b value30
50

# subtraction by giving user inputs

In [2]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a-b
print(c)

enter a value30
enter b value20
10

#   usemultiplicationr defined inputs

In [3]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a*b
print(c)

enter a value2
enter b value3
6

In [ ]:
# division

In [4]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a/b
print(c)

enter a value6
enter b value3
2.0

In [ ]:
#modulus

In [5]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a%b
print(c)

enter a value10
enter b value2
0

In [ ]:
# string concantenation

In [6]:
a="durga"
b="apssdc"
c=a+b
print(c,",")

durgaapssdc ,

In [ ]:
#conditionakl statements

In [7]:
a=int(input("enter a value"))
b=int(input("enter b value"))
if a==b:
    print("both are equal")
elif a>b:
        print(a,"is greater")
else:
            print(b,"is greater")

enter a value10
enter b value20
20 is greater

In [ ]:
# calender with user definrd

In [8]:
import calendar
year=int(input("enter year"))
month=int(input("enter month"))
c=calendar.month(year,month)
print(c)

enter year2016
enter month2
   February 2016
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29

In [ ]:
# finding ginen string which data type

In [9]:
 n="durga"
 print(type(n))

<class 'str'>

In [10]:
a=1
type(a)

int

In [11]:
a=0.1
type(a)

float

In [ ]:
# LOOPS CONCEPTS

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
x=["durga","srinu"]
y=["gopi","sai"]
for i in x:
    for j in y:
        print (x,y)

['durga', 'srinu'] ['gopi', 'sai']
['durga', 'srinu'] ['gopi', 'sai']
['durga', 'srinu'] ['gopi', 'sai']
['durga', 'srinu'] ['gopi', 'sai']

In [ ]:
# function call

In [ ]:
# syntax of afunction

In [15]:
def functionname(parameters):
      return statement
    functionname()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [16]:
def add(x,y):
    c=x+y
    return c
a=int(input("enter value"))
b=int(input("enter value"))
add(a,b)

enter value1
enter value2

3

In [ ]:
# function subtraction

In [17]:
def sub(x,y):
    c=x-y
    return c
a=int(input("enter value"))
b=int(input("enter value"))
sub(a,b)

enter value2
enter value1

1

In [ ]:
# mul using function

In [19]:
def mul(x,y):
    c=x*y
    return c
a=int(input("enter value"))
b=int(input("enter value"))
mul(a,b)

enter value2
enter value3

6

In [ ]:
# function div

In [20]:
def mul(x,y):
    c=x/y
    return c
a=int(input("enter value"))
b=int(input("enter value"))
mul(a,b)

enter value6
enter value2

3.0

In [ ]:
# modulus using function

In [21]:
def mod(x,y):
    c=x%y
    return c
a=int(input("enter value"))
b=int(input("enter value"))
mod(a,b)

enter value10
enter value5

0

In [ ]:
# arthmatic operationc using functions

In [22]:
def add(x,y):
    c=x+y
    return c
def sub(x,y):
    c=x-y
    return c
def mul(x,y):
    c=x*y
    return c
def div(x,y):
    c=x/y
    return c
def mod(x,y):
    c=x%y
    return c
a=int(input("enter value"))
b=int(input("enter value"))
print(add(a,b))
print(sub(a,b))
print(mul(a,b))
print(div(a,b))
print(mod(a,b))

enter value10
enter value2
12
8
20
5.0
0

In [ ]:
# table

In [23]:
a=int(input("enter value"))
print ("the multiplication of given table",a)
for  i in range(1,11):
        print(a,"x",i,"=",a*i)

enter value44
the multiplication of given table 44
44 x 1 = 44
44 x 2 = 88
44 x 3 = 132
44 x 4 = 176
44 x 5 = 220
44 x 6 = 264
44 x 7 = 308
44 x 8 = 352
44 x 9 = 396
44 x 10 = 440

In [ ]:
# given number is even or odd

In [24]:
a=int(input("enter value"))
if a%2==0:
    print("even")
else:
    print("odd")

enter value10
even